.package-details {
    display: flex;
    gap: 20px;
   
    color: rgba(255, 255, 255, 0.8);
  }
  
  .status-indicator, .account--indicator {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .package-name {
    background-color: #2563eb;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 30px;
  }